<div class="imgbgl ">
    <div class="row fh mb">
      <div class="col s8"></div>

      <div class="container recopass valign-wrapper col s4 fh  white" >

        <mat-card class="recover-card">
          <mat-card-header>
            <mat-card-title>Recuperar Contraseña</mat-card-title>
            <mat-card-subtitle><a routerLink="/">Volver al inicio</a></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <mat-vertical-stepper [linear]="true" #stepper class="stepbystep">
                  <mat-step [stepControl]="userForm">
                    
                    <form [formGroup]="userForm">
                      
                      <ng-template matStepLabel>Ingresar usuario</ng-template>
                      <mat-form-field>
                        <input matInput type="text"  class="browser-default"  formControlName="usuario">
                        <mat-placeholder class="placeholder">Usuario</mat-placeholder >
                      </mat-form-field>
                      <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)"
                      class="red-text text-darken-2">
                  
                      <div *ngIf="usuario.errors.required">
                      Name is required.
                    </div>
                      <div *ngIf="usuario.errors.userInvalid">
                      El usuario no existe.
                    </div>
                    <div *ngIf="usuario.status === 'PENDING'">
                      Checking...
                    </div>
                    
                  </div>
                      <div>
                        <button mat-button class="btn-rp" [disabled]="!userForm.valid" matStepperNext (click)="getPreguntas(userForm.value.usuario)">Siguiente</button>
                      </div>
                    </form>
                    
                  </mat-step>
                  <mat-step [stepControl]="respuestasForm">
                    <form [formGroup]="respuestasForm">
                      <ng-template matStepLabel>Preguntas de seguridad</ng-template>
                       <span *ngIf="userPreguntas">{{userPreguntas.pregunta_uno}}</span>
                      <br>
                      <mat-form-field>
                        <input matInput type="text" class="browser-default" formControlName="respuesta_uno" >
                      </mat-form-field>
                      <br>
                      <span *ngIf=userPreguntas>{{userPreguntas.pregunta_dos}}</span> 
                      <br>
                      <mat-form-field>
                          <input matInput type="text" class="browser-default" formControlName="respuesta_dos" >
                        </mat-form-field>
                      <div class="row">
                        <button mat-button class="btn-rp col s6" matStepperPrevious>Anterior</button>
                        <button mat-button class="btn-rp col s6"  (click)="verificarPreguntas(respuestasForm.value)"  [disabled]="!respuestasForm.valid" matStepperNext>Verificar</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="respuestasForm">

                      <div *ngIf="respuestasCorrectas; else respuestasIncorrectasDiv">

                          <form [formGroup]="passwordForm">
                              <ng-template matStepLabel>Nueva Contraseña</ng-template>
                              <span>Nueva Contraseña</span> <br>
                              <mat-form-field>
                                  <input matInput type="password" class="browser-default" formControlName="new_password" >
                                </mat-form-field> <br>
                                <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="red-text text-darken-2">
                                    <div *ngIf="new_password.errors.required">La contraseña es requerida</div>
                                    <div *ngIf="new_password.errors.minlength">La contraseña debe tener minimo 6 digitos</div>
                                  </div>
                                <span>Repetir Contraseña</span> <br>
                              <mat-form-field>
                                  <input matInput type="password" class="browser-default" formControlName="repeat_password" >
                                </mat-form-field>
                               
                                <div *ngIf="(repeat_password.invalid && (repeat_password.dirty || repeat_password.touched)) || passwordForm.invalid" class="red-text text-darken-2">
                                  <div *ngIf="repeat_password.errors.minlength">La contraseña debe tener minimo 6 digitos</div>
                                  <div *ngIf="repeat_password.errors.required">La contraseña es requerida</div>
                                  <div *ngIf="passwordForm.hasError('repeatInvalid')" class="red-text text-darken-2">Las contraseñas no coinciden</div>

                                </div>
                                

                                
                           
                          </form>
      
                            <div class="row">
                              <button mat-button class="btn-rp col s6"  matStepperPrevious>Anterior</button>
                              <button mat-button  class="btn-rp col s6"  [disabled]="!passwordForm.valid" (click)="GuardarPassword(passwordForm.value)" >Guardar</button>
                            </div>
                        
                      </div>
                      
                      
                      <ng-template #respuestasIncorrectasDiv>
                        <ng-template matStepLabel>Respuestas incorrectas </ng-template>
                        <p > <mat-icon class="red">error</mat-icon>  Respuestas incorrectas </p> <br>
                        <button mat-button class="btn-rp"  (click)="stepper.reset()">Intentar denuevo</button>
                      </ng-template>

                      
                    </mat-step>
                 
                </mat-vertical-stepper>

          </mat-card-content>

        </mat-card>

</div>

</div>
</div>