.imgbgl{
    background: url('../../../assets/images/login.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}


.btn-rp{
    background-color: #085fa7 !important;
}


.placeholder {
    color: black;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }.mat-form-field-underline {
    /*change color of underline*/
    background-color: #085fa7 !important;
  }.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #085fa7 !important;;
  }.mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }


   .fh{
    height: 100% !important;
    /* Full Height  */
}

.mb{
    /* Margin Button */
    margin-bottom: 0;
}

.titulo-recover{
    margin: auto;
    color: black;
}

.stepbystep{
    width: 100%;

}

.recover-card{
    margin: auto;
    width: 100%;
    padding: 5px;
    height: 70%;
    background-color: none;
    color: black;
    box-shadow: none;
}

.recopass{
    height: 100%;
    overflow-y: scroll;
}