<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Materias
    </mat-panel-title>
    <mat-panel-description>
      agrega una nueva materia
    </mat-panel-description>
  </mat-expansion-panel-header>
 
 
  <div class="row">
    <form class="col s12" [formGroup]="materiasForm" (ngSubmit)="guardarMateria()">
      <div class="row">
        <div class="input-field col s4">
          <input formControlName="codigo_materia"  id="codigo" type="text" required class="validate">
          <label for="codigo">Codigo</label>
          <div *ngIf="codigo_materia.invalid && (codigo_materia.dirty || codigo_materia.touched)" class=" red-text  text-darken-4" >
              <div *ngIf="codigo_materia.errors.required"  >
                El codigo es requerido.
              </div>
              <div *ngIf="codigo_materia.errors.maxlength"  >
                El codigo no puede tener mas de 9 digitos
              </div>
              <div *ngIf="codigo_materia.errors.pattern"  >
                El codigo de materia debe ser formato "ABC-12345"
              </div>
            </div>
        </div>
        
        
        <div class="input-field col s4">
          <input formControlName="nombre_mat" id="nombre" type="text" class="validate">
          <label for="nombre">Materia</label>
          <div *ngIf="nombre_mat.invalid && (nombre_mat.dirty || nombre_mat.touched)" class=" red-text  text-darken-4" >
            <div *ngIf="nombre_mat.errors.required"  >
              El Nombre de la materia es requerido.
            </div>   
          </div>
        </div>



        <mat-form-field class="col s4 select_per"  >
          <mat-label>Semestre </mat-label>
          <mat-select formControlName="semestre_mat" class="select_per_in" id='select'>
            <mat-option *ngFor="let semestre of semestres" [value]="semestre.numero"  >
              {{semestre.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      
      
      <div class="row">
        <div class="input-field col l3 m3 s6">
          <input formControlName="horas_teo" id="hora_t" type="number" min="0" max="4" class="validate" value=0>
          <label for="hora_t">Horas de Teoria</label>
          <div *ngIf="horas_teo.invalid && (horas_teo.dirty || horas_teo.touched)" class=" red-text  text-darken-4" >
            <div *ngIf="horas_teo.errors.min"  >
              No puedes ingresar horas negativas
            </div>  
            <div *ngIf="horas_teo.errors.max"  >
              Excediste las horas maximas
            </div> 
          </div>
        </div>
      
      
        <div class="input-field col l3 m3 s6">
          <input formControlName="horas_pra" id="hora_p" type="number" class="validate"  value=0>
          <label for="hora_p">Horas de Practica</label>
          <div *ngIf="horas_pra.invalid && (horas_pra.dirty || horas_pra.touched)" class=" red-text  text-darken-4" >
            <div *ngIf="horas_pra.errors.min"  >
              No puedes ingresar horas negativas
            </div>  
            <div *ngIf="horas_pra.errors.max"  >
              Excediste las horas maximas
            </div> 
          </div>
          
        </div>
      
        <div class="input-field col l3 m3 s6">
          <input formControlName="horas_lab" id="hora_l" type="number" class="validate"  value=0>
          <label for="hora_l">Horas de laboratorio</label>
          <div *ngIf="horas_lab.invalid && (horas_lab.dirty || horas_lab.touched)" class=" red-text  text-darken-4" >
            <div *ngIf="horas_lab.errors.min"  >
              No puedes ingresar horas negativas
            </div>  
            <div *ngIf="horas_lab.errors.max"  >
              Excediste las horas maximas
            </div> 
          </div>
        </div>

        <div class="input-field col l3 m3 s6">
          <input formControlName="uc" id="uc" type="number" class="validate"  value=0>
          <label for="uc">UC</label>
          <div *ngIf="uc.invalid && (uc.dirty || uc.touched)" class=" red-text  text-darken-4" >
            <div *ngIf="uc.errors.min"  >
              No puedes ingresar UC's negativas
            </div>  
            <div *ngIf="uc.errors.max"  >
              Excediste las Unidades de creditos maximas
            </div> 
          </div>
        </div>
      </div>


      
  <button class="btn waves-effect waves-light  light-blue darken-4" type="submit" [disabled]="!materiasForm.valid">Guardar
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
        
</mat-expansion-panel>


  <div class="input-field container">
    <input  type="text" (keyup)="applyFilter($event.target.value)" id="filter">
    <label for="filter">Busqueda avanzada</label> 
  </div>

  <div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource"  matSort>

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Codigo </th>
    <td mat-cell *matCellDef="let materia"> {{materia.codigo_materia}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="materia">
    <th mat-header-cell *matHeaderCellDef> Materia </th>
    <td mat-cell *matCellDef="let materia"> {{materia.nombre_mat}} </td>
  </ng-container>

  <ng-container matColumnDef="semestre">
    <th mat-header-cell *matHeaderCellDef> semestre </th>
    <td mat-cell *matCellDef="let materia"> {{materia.semestre_mat}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="horas_teo">
    <th mat-header-cell *matHeaderCellDef> Horas Teoricas </th>
    <td mat-cell *matCellDef="let materia"> {{materia.horas_teo}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="horas_pra">
    <th mat-header-cell *matHeaderCellDef> Horas Practicas </th>
    <td mat-cell *matCellDef="let materia"> {{materia.horas_pra}} </td>
  </ng-container>

  <ng-container matColumnDef="horas_lab">
    <th mat-header-cell *matHeaderCellDef> Horas De Laboratorio </th>
    <td mat-cell *matCellDef="let materia"> {{materia.horas_lab}} </td>
  </ng-container>

  <ng-container matColumnDef="horas_tot">
    <th mat-header-cell *matHeaderCellDef> Horas Totales </th>
    <td mat-cell *matCellDef="let materia"> {{materia.horas_lab + materia.horas_pra + materia.horas_teo}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>