.sidenav-container-main {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.sidenav-main {
    width: 260px;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.btn-menu-sidenav:focus {
    background: none !important; 
}

.mat-toolbar-single-row {
    background-color: rgb(8, 29, 51) !important;
}

.mat-drawer {
    background-color: rgb(21, 32, 43) !important;
    color: rgba(0,0,0,.87);
}